<div class="row">
    <div class="col">
      My dick
    </div>
    <div class="col">
      is slightly
    </div>
  </div>
  <div class="row">
    <div class="col">
      less large
    </div>
    <div class="col">
      than an
    </div>
    <div class="col">
      average penis
    </div>
  </div>