<div class = "row divline">
    <div class = "row">
        <div class = "nav1">
            Nav Bar2
        </div>
    </div>
    <div>
        <img src="images/rpgLogo.jpeg" alt="logo" class="img-fluid"></img>
        
            <!-- Add font awesome icons -->
            <h1 class = "socials">
            <a href="https://facebook.com/raynbowpawsgroomingllc" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/raynbow_paws_mobile_grooming/" class="fa fa-instagram"></a>
            </h1>
        
    </div>
</div>

<div class = "row divline content features">
    <div class = "col-lg-4 col-sm-12 col-md-6">
        <div class="row">
            <div class = "col-lg-3 col-sm-3 col-md-3">
                <i class="bi bi-check-circle"></i>
            </div>
            <div class = "col-lg-9 col-sm-9 col-md-9 myCard">
                <h2>Dog Grooming</h2><hr>
                <p>We offer an arrange of grooming solutions so your fur-babies can get pampered and look their best!</p>
            </div>
        </div>
    </div>
    <div class = "col-lg-4 col-sm-12 col-md-6">
        <div class="row">
            <div class = "col-lg-3 col-sm-3 col-md-3">
                <i class="bi bi-check-circle"></i>
            </div>
            <div class = "col-lg-9 col-sm-9 col-md-9 myCard">
                <h2>Mobile</h2><hr>
                <p>Our grooming services are now mobile! Set up an appointment and we will bring the spa to you!</p>
            </div>
        </div>
    </div>
    <div class = "col-lg-4 col-sm-12 col-md-6">
        <div class="row">
            <div class = "col-lg-3 col-sm-3 col-md-3">
                <i class="bi bi-check-circle"></i>
            </div>
            <div class = "col-lg-9 col-sm-9 col-md-9 myCard">
                <h2>Comfort</h2><hr>
                <p>We make the experience more comfortable for you and your pets by reducing their time away from home.</p>
            </div>
        </div>
    </div>
</div>

<div class = "row content images divline">
        <h2 class="imgHead">Here's a few of our puppy glow-ups!</h2>
    <div class = "row ">
        <div class = "col myCard">
            <img src="images/sample1.jpg" class="img-fluid"></img>
        </div>
        <div class = "col myCard">
            <img src="images/sample2.jpg" class="img-fluid"></img>
        </div>
        <div class = "col myCard">
            <img src="images/sample3.jpg" class="img-fluid"></img>
        </div>
    </div>
</div>

<div class = "row divline">
    <div class = "row">
        Reviews
    </div>
    <div class = "row">
        <div class = "col">
            1
        </div>
        <div class = "col">
            2
        </div>
        <div class = "col">
            3
        </div>
    </div>
</div>

<div class = "row divline">
    <div class = "row">
        Contact Us
    </div>
    <div class = "row">
        Interested in making an appointment or have questions, feel free to send us a message!
    </div>
    <div class = "row">
        <form> 
            <textarea rows="5">

            </textarea>
            <input type ="text"/>
            <input type ="text"/>
            <input type ="submit"/>
        </form>
    </div>
</div>

<div class = "row divline">
    <div class = "row">Nav Bar</div>
    <div class = "row">
        <p>Hickory, NC</p>
        <p>C Raynbow Paws Grooming</p>
    </div>
</div>